@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Changa';
  src: url('/Changa-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Changa', sans-serif;
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
